/* You can add global styles to this file, and also import other style files */
.sidebar {
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
  background-color: #FFF;
  .sidebar-minimizer {
    background-color: #FFF;
  }
}

@media (max-width: 991px){
  .app-header .navbar-toggler {
    display: inline-block !important;
  }
}

.dts_label {
  display: none;
}

.formio-component {
  .choices__list--multiple {
    .choices__item {
      font-weight: 400;
      border: none;
      padding: 8px 8px;
      border-radius: 4px;
      background-color: var(--indigo);
      max-width:90%;
      .text-truncate {
        display: inline-block;
        max-width:85%;
      }
      .choices__button {
        border-left: 1px solid var(--gray-100);
      }
    }
  }
  
  .form-check-inline {
    display: inline-flex !important;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: 0.75rem;
  }
  .radio.form-check-inline {
    position: static;
  } 
}


.formio-choices {
  .choices__input.choices__input--cloned {
    background-color: #FFF;
  }
}
